{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<h1> Welcome to Profile</h1>
<h1> Hello {{user}}</h1>

{% if messages %} 
{% for m in messages %}
<p class="bg-success p-3 text-white">{{m}}</p>
{% endfor %}
{% endif %}

<p><a class="btn btn-info" href="{% url 'password_change' %}">Change your password </a>
<a class="btn btn-warning" href="{% url 'password_change2' %}">Change your password without Old password </a></p>

<form method="post" style="width: 50%; margin: auto;" novalidate >
    {% csrf_token %}
    {%if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %}
    {% endif %}
    <!-- {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    <br>
    {{fm.errors|striptags}}
    {% endfor %} -->
    {{form|crispy}}
    {{form.errors|striptags}}
    <button class="btn btn-warning" type="submit"> Change Data </button>
  </form>
{% endblock %}